{% extends 'layout.twig' %}

{% block title %}{{parent()}} - Details techology{% endblock title %}

{% block body %}

    <div class="container">
    	<h1 class="mb15">{{itemName}}</h1>
    </div>


    <div class="container" ng-controller="detailsTechnologyController">
        {% if results == false %}
            <div class="alert alert-danger" role="alert">
                <p>{{noResults}}</p>
            </div>
        {% else %}
            {% for question in questions %}
    			<div class="col-lg-3 col-sm-6">
                    <div class="card hovercard">
                        <div class="cardheader">
        					<a href="{{url}}/question/{{question.id}}">{{question.name}}</a>
                        </div>
                        <div class="avatar">
                            <img alt="" src="{{question.avatar}}">
                        </div>
                        <div class="info">
                            <div class="title">
                                <a target="_blank" href="http://scripteden.com/">{{question.fullname}}</a>
                            </div>
<!--                             <div class="desc">Passionate technology</div>
<div class="desc">Curious developer</div> -->
                        </div>
                        <div class="bottom">
                            <!-- <a class="btn btn-primary btn-twitter btn-sm" target="_blank" href="https://twitter.com/hnhack">
                                <i class="fa fa-twitter"></i>
                            </a>
                            <a class="btn btn-danger btn-sm" target="_blank" rel="publisher"
                               href="https://plus.google.com/+nicolashedoire">
                                <i class="fa fa-google-plus"></i>
                            </a>
                            <a class="btn btn-primary btn-sm" target="_blank" rel="publisher"
                               href="https://www.facebook.com/hedoire">
                                <i class="fa fa-facebook"></i>
                            </a> -->
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% endif %}
    </div>

{% endblock %}