{% extends 'layout.twig' %}

{% block title %}{{parent()}} - Home{% endblock title %}

{% block body %}
	<div ng-controller="homeController">
		<div class="col-sm-12 col-xs-12 col-md-12 col-lg-12">
			<hr>
				<h1>Tests par metier</h1>
			<hr>
		</div>
		{% for metier in metiers %}
			<div class="col-sm-6 col-xs-12 col-md-3 col-lg-2">
				<div class="thumbnail">
					<img src="/img/metiers/{{metier.slug}}.png" alt="{{metier.name}}" title="{{metier.name}}">
					<hr class="m0">
					<div class="caption">
					    <h3 class="text-center">{{metier.name}}</h3>
					    <p class="text-center">
					    	<a href="/metier/{{metier.slug}}" class="btn btn-primary btn-ui" role="button">{{buttonTest}}</a>
					    </p>
					</div>
				</div>
			</div>
		{% endfor %}


		<div class="col-sm-12 col-xs-12 col-md-12 col-lg-12">
			<hr>
				<h2>Cours guidés</h2>
			<hr>
		</div>
		{% for category in items %}
		<div class="col-sm-6 col-xs-12 col-md-3 col-lg-2">
			<div class="thumbnail">
				<img src="/img/technologies/{{category.slug}}.png" alt="{{category.name}}" title="{{category.name}}">
				<hr class="m0">
				<div class="caption">
				    <h3 class="text-center">{{category.name}}</h3>
				    <p class="text-center">
				    	<a href="/technology/{{category.slug}}" class="btn btn-primary btn-ui" role="button">{{buttonDiscover}}</a>
				    </p>
				</div>
			</div>
		</div>
	{% endfor %}
	</div>
{% endblock %}